/*table{*/
/*  border-collapse: collapse;*/
/*  border-spacing: 0;*/
/*  table-layout: fixed;*/
/*  width: 490px;*/
/*}*/

/*table tr:last-child{*/
/*  border-bottom:solid 1px #ddd;*/
/*}*/

/*table th{*/
/*  text-align: center;*/
/*  padding: 7px 0;*/
/*  border-right:solid 1px #ddd;*/
/*  border-left:solid 1px #ddd;*/
/*  width: 155px;*/
/*}*/

/*table th:nth-child(1){*/
/*  background-color:#dddddd;*/
/*}*/
/*.td {*/
/*  position: relative;*/
/*}*/
/*.td__link {*/
    /*display: block;      /* リンクをインラインブロック化して表示 
    /*width: 3em;                 /* 横幅を15文字分にする(※値は自由に調節して下さい) */
    /*border: 1px solid skyblue;    /* 枠線を加える(※値は自由に調節して下さい) */
    /*border-radius: 0.75em;        /* 枠線の角を丸くする(※値は自由に調節して下さい) */
    /*padding: 0.8em;               /* 内側の余白量を0.7文字分にする。この余白は「クリック可能な空白」になります。(※値は自由に調節して下さい) */
    /*margin: 1em 0.15em 0.5em 0px; /* 外側の余白量として、右に0.15文字分、下に0.5文字分を用意。この余白は「クリック対象外」です。(※値は自由に調節して下さい) */
    /*line-height: 1em;*/
/*}*/
/*.align-middle:hover{*/
/*    color:#000;*/
/*}*/
#sort_table table::after { 
	content: '▼';
	font-size: 12px;
	margin-left: 5px;
}